extends layout
mixin categorie(categorie)
  button.dropdown-btn=categorie.name
    if categorie.subcategories != null
      i.fa.fa-caret-down
  .dropdown-container
    if categorie.subcategories != null
        each subcategory in categorie.subcategories
            a(href='/products/' + subcategory.name)=subcategory.name
block content
    if messages.info
        .notificationred
            p= messages.info
            script.
                setTimeout(function() {
                var notification = document.querySelector(".notificationred");
                notification.parentNode.removeChild(notification);
                }, 3000);
    .products-preview
        .preview
            span.close-buttond(onClick='hideModal()') x
            .productSachen
                .leftSide
                    h2.details.namep
                    .imgDiv.produktdetails
                        img.imgp(src='product.jpg', alt='Product Image')
                .middle
                    .rightTable
                        table
                            tr
                                td.tdL Artikelnummer:
                                td.artikelnrp.tdR
                            tr
                                td.tdL Hersteller:
                                td.herstellerp.tdR
                            tr
                                td.tdL Nettogewicht:
                                td.nettop.tdR
                            tr
                                td.tdL Bruttogewicht:
                                td.bruttop.tdR
                            tr
                                td.tdL Recyclebare Verpackung:
                                td.recyclep.tdR
                .rightSide
                    .col-3 
                        .preis
                    .btn.buyModal(onClick='(goWarenkorb(this.id))') In den Warenkorb
            .vorgeschlagendeProdukte
                br
                hr.solid
                .slideshowd1
                    
                br
                .slideshowd2
                    


    .sidenav   
        .text Kategorien 
        each categorie in allCategories
            +categorie(categorie)
    
  
    .productContainer(id='productContainerID')
        h2 Vorgeschlagene Produkte
        .new-products
            .navButtons
                .btn.weiter(id='prev-btn') &#8592
                .btn.weiter(id='next-btn') &#8594
            ul(id='product-list')
                each produkt in products
                    .produktLI(id='produktLI')
                        .imgDiv
                            img(src='/images/'+produkt[7]+'.png' id=produkt[0] onClick='showDetail(this.id)')
                        h3= produkt[2]
                        p= parseFloat(produkt[1].toFixed(2))+'€'        
                        .btn(id=produkt[0], class='WarenkorbButton' onClick='goWarenkorb(this.id)') In den Warenkorb 
        h2 Produkte bis 2€
        .new-products
            .navButtons
                .btn.weiter(id='prev-btnPreis') &#8592
                .btn.weiter(id='next-btnPreis') &#8594
            ul(id='product-listPreis')
                each produkt in besterPreis
                    .produktLI(id='produktLI')
                        .imgDiv
                            img(src='/images/'+produkt[7]+'.png' id=produkt[0] onClick='showDetail(this.id)')
                        h3= produkt[2]
                        p= parseFloat(produkt[1].toFixed(2))+'€'        
                        .btn(id=produkt[0], class='WarenkorbButton' onClick='goWarenkorb(this.id)') In den Warenkorb 
        h2 Zuletzt gekauft worden
        .new-products
            .navButtons
                .btn.weiter(id='prev-btnZuletzt') &#8592
                .btn.weiter(id='next-btnZuletzt') &#8594
            ul(id='product-listZuletzt')
                each produkt in lastProdukt
                    .produktLI(id='produktLI')
                        .imgDiv
                            img(src='/images/'+produkt[7]+'.png' id=produkt[0] onClick='showDetail(this.id)')
                        h3= produkt[2]
                        p= parseFloat(produkt[1].toFixed(2))+'€'        
                        .btn(id=produkt[0], class='WarenkorbButton' onClick='goWarenkorb(this.id)') In den Warenkorb 
        h2 Empfehlungen für Sie
        .new-products
            .navButtons
                .btn.weiter(id='prev-btnEmpf') &#8592
                .btn.weiter(id='next-btnEmpf') &#8594
            ul(id='product-listEmpf')
                each produkt in products
                    .produktLI(id='produktLI')
                        .imgDiv
                            img(src='/images/'+produkt[7]+'.png' id=produkt[0] onClick='showDetail(this.id)')
                        h3= produkt[2]
                        p= parseFloat(produkt[1].toFixed(2))+'€'        
                        .btn(id=produkt[0], class='WarenkorbButton' onClick='goWarenkorb(this.id)') In den Warenkorb 
        h2 Bestseller
        .new-products
            .navButtons
                .btn.weiter(id='prev-btnBestseller') &#8592
                .btn.weiter(id='next-btnBestseller') &#8594
            ul(id='product-listBestseller')
                each produkt in bestseller
                    .produktLI(id='produktLI')
                        .imgDiv
                            img(src='/images/'+produkt[3]+'.png' id=produkt[0] onClick='showDetail(this.id)')
                        h3= produkt[2]
                        p= parseFloat(produkt[1].toFixed(2))+'€'        
                        .btn(id=produkt[0], class='WarenkorbButton' onClick='goWarenkorb(this.id)') In den Warenkorb 
        br
    script(src="/javascript/products.js")
    script.





        const nextBtn = document.getElementById("next-btn");
        const prevBtn = document.getElementById("prev-btn");
        const productList = document.getElementById("product-list");

        const ulElement1 = document.getElementById('product-list');
        const liElements1 = ulElement1.querySelectorAll('#produktLI');

        prevBtn.style.display = "none";

        if(liElements1.length <=5){
            nextBtn.style.display = "none"
            prevBtn.style.display = "none"
        }

        let offset = 0;
        let displayedItems = 5;


        nextBtn.addEventListener("click", () => {
            prevBtn.style.display = "inline-block"
            offset += 5;
            displayedItems += 5;

            for (let i = offset; i < displayedItems; i++) {
            const li = productList.children[i];
            if (li) {
              li.style.display = "list-item";
            } else {
              nextBtn.style.display = "none";
              break;
            }
          }

          for (let i = offset - 5; i < offset; i++) {
            const li = productList.children[i];
            if (li) {
              li.style.display = "none";
            } else {
              break;
            }
          }
        });


        prevBtn.addEventListener("click", () => {
            nextBtn.style.display = "inline-block"

            console.log(displayedItems)
            offset -= 5;
            displayedItems -= 5;

        console.log('display' + displayedItems)

        if(displayedItems <= 5){
            prevBtn.style.display = "none"
        }

        for (let i = offset; i < displayedItems; i++) {
        const li = productList.children[i];
        if (li) {
            li.style.display = "list-item";
        } else {
            break;
        }
        }

        for (let i = displayedItems; i > offset; i++) {
            const li = productList.children[i];
            console.log('I ist ' + i)

        if (li) {
            li.style.display = "none";
        } else {
            break;
        }
        }
        });



        const nextBtnPreis = document.getElementById("next-btnPreis");
        const prevBtnPreis = document.getElementById("prev-btnPreis");
        const productListPreis = document.getElementById("product-listPreis");

        const ulElement2 = document.getElementById('product-listPreis');
        const liElements2 = ulElement2.querySelectorAll('#produktLI');

        prevBtnPreis.style.display = "none";


        if(liElements2.length <=5){
            nextBtnPreis.style.display = "none"
            prevBtnPreis.style.display = "none"
        }


        let offsetPreis = 0;
        let displayedItemsPreis = 5;


        nextBtnPreis.addEventListener("click", () => {
            prevBtnPreis.style.display = "inline-block"
            offsetPreis += 5;
            displayedItemsPreis += 5;

            for (let i = offsetPreis; i < displayedItemsPreis; i++) {
            const li = productListPreis.children[i];
            if (li) {
              li.style.display = "list-item";
            } else {
              nextBtnPreis.style.display = "none";
              break;
            }
          }

          for (let i = offsetPreis - 5; i < offsetPreis; i++) {
            const li = productListPreis.children[i];
            if (li) {
              li.style.display = "none";
            } else {
              break;
            }
          }
        });


        prevBtnPreis.addEventListener("click", () => {
            nextBtnPreis.style.display = "inline-block"

            offsetPreis -= 5;
            displayedItemsPreis -= 5;


        if(displayedItemsPreis <= 5){
            prevBtnPreis.style.display = "none"
        }

        for (let i = offsetPreis; i < displayedItemsPreis; i++) {
        const li = productListPreis.children[i];
        if (li) {
            li.style.display = "list-item";
        } else {
            break;
        }
        }

        for (let i = displayedItemsPreis; i > offsetPreis; i++) {
            const li = productListPreis.children[i];
            console.log('I ist ' + i)

        if (li) {
            li.style.display = "none";
        } else {
            break;
        }
        }
        });

        const nextBtnBestseller = document.getElementById("next-btnBestseller");
        const prevBtnBestseller = document.getElementById("prev-btnBestseller");
        const productListBestseller = document.getElementById("product-listBestseller");

        const ulElement3 = document.getElementById('product-listBestseller');
        const liElements3 = ulElement3.querySelectorAll('#produktLI');

        prevBtnBestseller.style.display = "none";


        if(liElements3.length <=5){
            nextBtnBestseller.style.display = "none"
            prevBtnBestseller.style.display = "none"
        }

        let offsetBestseller = 0;
        let displayedItemsBestseller = 5;

        nextBtnBestseller.addEventListener("click", () => {
            prevBtnBestseller.style.display = "inline-block"
            offsetBestseller += 5;
            displayedItemsBestseller += 5;

            for (let i = offsetBestseller; i < displayedItemsBestseller; i++) {
            const li = productListBestseller.children[i];
            if (li) {
              li.style.display = "list-item";
            } else {
              nextBtnBestseller.style.display = "none";
              break;
            }
          }

          for (let i = offsetBestseller - 5; i < offsetBestseller; i++) {
            const li = productListBestseller.children[i];
            if (li) {
              li.style.display = "none";
            } else {
              break;
            }
          }
        });

        prevBtnBestseller.addEventListener("click", () => {
            nextBtnBestseller.style.display = "inline-block"

            offsetBestseller -= 5;
            displayedItemsBestseller -= 5;

        if(displayedItemsBestseller <= 5){
            prevBtnBestseller.style.display = "none"
        }

        for (let i = offsetBestseller; i < displayedItemsBestseller; i++) {
        const li = productListBestseller.children[i];
        if (li) {
            li.style.display = "list-item";
        } else {
            break;
        }
        }

        for (let i = displayedItemsBestseller; i > offsetBestseller; i++) {
            const li = productListBestseller.children[i];
            console.log('I ist ' + i)

        if (li) {
            li.style.display = "none";
        } else {
            break;
        }
        }
        });

        const nextBtnZuletzt = document.getElementById("next-btnZuletzt");
        const prevBtnZuletzt = document.getElementById("prev-btnZuletzt");
        const productListZuletzt = document.getElementById("product-listZuletzt");

        prevBtnZuletzt.style.display = "none";



        const ulElement = document.getElementById('product-listZuletzt');
        const liElements = ulElement.querySelectorAll('#produktLI');

        if(liElements.length <=5){
            nextBtnZuletzt.style.display = "none"
            prevBtnZuletzt.style.display = "none"
        }



        let offsetZuletzt = 0;
        let displayedItemsZuletzt = 5;

        nextBtnZuletzt.addEventListener("click", () => {
            console.log('HIER');
            prevBtnZuletzt.style.display = "inline-block"
            offsetZuletzt += 5;
            displayedItemsZuletzt += 5;

            for (let i = offsetZuletzt; i < displayedItemsZuletzt; i++) {
            const li = productListZuletzt.children[i];
            if (li) {
              li.style.display = "list-item";
            } else {
              nextBtnZuletzt.style.display = "none";
              break;
            }
          }

          for (let i = offsetZuletzt - 5; i < offsetZuletzt; i++) {
            const li = productListZuletzt.children[i];
            if (li) {
              li.style.display = "none";
            } else {
              break;
            }
          }
        });

        prevBtnZuletzt.addEventListener("click", () => {
            nextBtnZuletzt.style.display = "inline-block"

            offsetZuletzt -= 5;
            displayedItemsZuletzt -= 5;

        if(displayedItemsZuletzt <= 5){
            prevBtnZuletzt.style.display = "none"
        }

        for (let i = offsetZuletzt; i < displayedItemsZuletzt; i++) {
        const li = productListZuletzt.children[i];
        if (li) {
            li.style.display = "list-item";
        } else {
            break;
        }
        }

        for (let i = displayedItemsZuletzt; i > offsetZuletzt; i++) {
            const li = productListZuletzt.children[i];
            console.log('I ist ' + i)

        if (li) {
            li.style.display = "none";
        } else {
            break;
        }
        }
        });

        const nextBtnEmpf = document.getElementById("next-btnEmpf");
        const prevBtnEmpf = document.getElementById("prev-btnEmpf");
        const productListEmpf = document.getElementById("product-listEmpf");

        const ulElement4 = document.getElementById('product-listEmpf');
        const liElements4 = ulElement4.querySelectorAll('#produktLI');

        prevBtnEmpf.style.display = "none";


        if(liElements4.length <=5){
            nextBtnEmpf.style.display = "none"
            prevBtnEmpf.style.display = "none"
        }


        let offsetEmpf = 0;
        let displayedItemsEmpf = 5;

        nextBtnEmpf.addEventListener("click", () => {
            prevBtnEmpf.style.display = "inline-block"
            offsetEmpf += 5;
            displayedItemsEmpf += 5;

            for (let i = offsetEmpf; i < displayedItemsEmpf; i++) {
            const li = productListEmpf.children[i];
            if (li) {
              li.style.display = "list-item";
            } else {
              nextBtnEmpf.style.display = "none";
              break;
            }
          }

          for (let i = offsetEmpf - 5; i < offsetEmpf; i++) {
            const li = productListEmpf.children[i];
            if (li) {
              li.style.display = "none";
            } else {
              break;
            }
          }
        });

        prevBtnEmpf.addEventListener("click", () => {
            nextBtnEmpf.style.display = "inline-block"

            offsetEmpf -= 5;
            displayedItemsEmpf -= 5;

        if(displayedItemsEmpf <= 5){
            prevBtnEmpf.style.display = "none"
        }

        for (let i = offsetEmpf; i < displayedItemsEmpf; i++) {
        const li = productListEmpf.children[i];
        if (li) {
            li.style.display = "list-item";
        } else {
            break;
        }
        }

        for (let i = displayedItemsEmpf; i > offsetEmpf; i++) {
            const li = productListEmpf.children[i];
            console.log('I ist ' + i)

        if (li) {
            li.style.display = "none";
        } else {
            break;
        }
        }
        });




