extends layout

mixin categorie(categorie)
  button.dropdown-btn=categorie.name
    if categorie.subcategories != null
      i.fa.fa-caret-down
  .dropdown-container
    if categorie.subcategories != null
        each subcategory in categorie.subcategories
            a(href='/products/' + subcategory.name)=subcategory.name

block content
    .products-preview
        .preview
            span.close-buttond(onClick='hideModal()') x
            .productSachen
                .leftSide
                    h2.details.namep
                    .imgDiv.produktdetails
                        img.imgp(src='product.jpg', alt='Product Image')
                .middle
                    .rightTable
                        table
                            tr
                                td.tdL Artikelnummer:
                                td.artikelnrp.tdR
                            tr
                                td.tdL Hersteller:
                                td.herstellerp.tdR
                            tr
                                td.tdL Nettogewicht:
                                td.nettop.tdR
                            tr
                                td.tdL Bruttogewicht:
                                td.bruttop.tdR
                            tr
                                td.tdL Recyclebare Verpackung:
                                td.recyclep.tdR
                .rightSide
                    .col-3 
                        .preis
                    .btn.buyModal(onClick='(goWarenkorb(this.id))') In den Warenkorb
            .vorgeschlagendeProdukte
                br
                hr.solid
                .slideshowd1
                    
                br
                .slideshowd2
    .sidenav
        .text Kategorie
        each categorie in allCategories
            + categorie(categorie)
    .productContainer(id='productContainerID')
        h2= 'Produkte der Kategorie: ' + category
        .card-container
            each produkt in productsByCategory
                .card
                    img(src='/images/'+category+'.png' id=produkt[0] onClick='showDetail(this.id)')
                    h4=produkt[2]
                        // p=parseFloat(produkt[1].toFixed(2))+'€'
                    .btn(id=produkt[0], class='WarenkorbButton', onClick='goWarenkorb(this.id)') In den Warenkorb
    script(src="/javascript/products.js")
